@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,700&display=swap");
$blue: rgb(0, 97, 187);
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}
.container {
  border: 2px solid $blue;
  margin: 20px auto;
  width: 30vw;
}

.screen {
  border: 2px solid green;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}

#data {
  box-sizing: border-box;
  font-family: "Poppins";
  font-size: 1.2rem;
  position: absolute;
  right: 10px;
  top:26%;
  color: white;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  cursor: pointer;
  color: white;
}
.button {
  text-align: center;
  border: 2px solid $blue;
  padding: 20px;
  user-select: none;
}

.button:active {
    background-color: rgba(0, 255, 242, 0.616);
}
